fastapi
uvicorn
python-dotenv
pydantic
jinja2
pandas
langchain
langchain-core
langchain-community
langchain-groq
langchain-astradb
sentence-transformers
transformers[torch]
torch
torchaudio
torchvision
aiofiles

--extra-index-url https://download.pytorch.org/whl/cpu

